:root{
    font-size: 62.5%;

    --color-black: #000;
    --color-white: #FFF;
    --color-purple: #A582F7;
    --color-gray: #111111;

    --background-color: var(--color-black);
    --background-color-items: var(--color-gray);

    --text-color-regular: var(--color-white);
    --text-color-notSelected: #959595;

    --color-primary: linear-gradient(180deg, #CE9FFC 0%, #A582F7 50%, #7367F0 100%);

    
    --font-family-regular: 'Plus Jakarta Sans', sans-serif;
    --font-family-lead: 'CabinetGrotesk-Black';
    --font-family-lead-regular: 'CabinetGrotesk-Regular';
    --font-family-lead-bold: 'CabinetGrotesk-Bold';
    --font-family-lead-medium: 'CabinetGrotesk-Medium';

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semiBold: 600;
    --font-weight-bold: 600;

    --font-size-normal: 1.8rem;
    --font-size-ultra-large: 11.6rem;
    --font-size-large: 3.2rem;
    --font-size-lead: 1.6rem;
}

body{
    background: var(--background-color);
    max-width: 144rem;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    overflow-X: hidden;
}

/* --- */
/* header */

header{
    display: flex;
    align-items: center;
    gap: 6rem;
    max-width: 120rem;
    width: 100%;
    margin: 8rem auto;
    font-family: var(--font-family-regular);
}

body :is(section, main,){
    margin: 0 auto 20rem auto;
}

.landing-page{
    width: 90%;
}

/* - */
/* logo */

.logo,
.logo img{
    width: 11.7rem;
    height: 3.4rem;
}

/* - */
/* nav */

nav ul{
    display: flex;
    gap: 3rem;
}

nav ul li a{
    font-family: var(---font-family-regular);
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-regular);
}

/* - */
/* sign up */

.sign-up{
    display: flex;
    gap: 1.6rem;
    margin: 0 0 0 auto;
}

.sign-up button{
    background: var(--color-primary);
    padding: 1.5rem 6rem;
    border-radius: 0.5rem;
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-regular);
}

.sign-up button:first-child{
    font-weight: var(--font-weight-semiBold);
}

.sign-up button:last-child{
    border: double 0.2rem transparent;
    border-radius: 0.5rem;
    background-image: linear-gradient(var(--background-color), var(--background-color)), 
                      var(--color-primary);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

/* --- */
/* banner */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 18rem 0 0 0;
    position: relative;
}

/* - */
/* text */

.banner .header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 140px 80px rgba(0, 0, 0, 1);
    max-width: 120rem;
    width: 100%;
}


.banner .header-text h1{
    font-family: var(--font-family-lead);
    text-align: center;
    font-size: var(--font-size-ultra-large);
    word-break: break-word;
}

.banner .header-text h1:first-child{
    position: relative;
    color: transparent;
    -webkit-text-stroke: 0.2rem white; /* EXPERIMENTAL WAY  */
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; CORRECT WAY */
}

.banner .header-text h1:first-child::before{
    content: "One Step Closer To";
    color: var(--text-color-regular);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1000;
}

.banner .header-text h1:nth-child(2){
    color: var(--text-color-regular);
    z-index: -1;
}

.banner .header-text p{
    margin: 4.2rem 0;
    font-family: var(--font-family-regular);
    color: var(--text-color-regular);
    font-size: var(--font-size-normal);
    z-index: -100;
    text-transform: capitalize;}

/* - */
/* button */

.banner .buttons{
    display: flex;
    gap: 3rem;
}

.banner .buttons button:first-child{
    background: var(--color-primary);
    padding: 1.5rem 5rem;
    border-radius: 0.5rem;
    color: var(--text-color-regular);
    font-family: var(--font-family-regular);
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-semiBold);
}

.banner .buttons button:last-child{
    background: transparent;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    border: none;
    color: var(--text-color-regular);
    font-family: var(--font-family-lead-bold);
    font-size: var(--font-size-normal);
}

/* - */
/* data */

.marketing-data{
    display: flex;
    gap: 5rem;
    margin: 10rem 0 20.7rem 0;
}

.marketing-data .data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.marketing-data .data h4{
    
    font-family: var(--font-family-lead);
    font-size: var(--font-size-large);
    color: var(--text-color-regular);
}

.marketing-data .data p{
    text-align: center;
    font-family: var(--font-family-regular);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-regular);
}

/* - */
/* bg items */

.bbg1{
    position: absolute;
    width: 188.2px;
    height: 116.04px;
    left: calc(50% - 215px/2 - 538px);
    top: -40px; 
    transform: rotate(-30deg);
    z-index: -100;
}

.bbg2{
    position: absolute;
    width: 187px;
    height: 187px;
    top: 230px;
    left: 80px;
    transform: rotate(-38.54deg);
    z-index: -100;
}

.bbg3{
    position: absolute;
    width: 113px;
    height: 75px;
    top: 450px;
    left: 160px;
    filter: blur(3.36404px);
    transform: rotate(-63.44deg);  
    z-index: -100;
}

.bbg4{
    position: absolute;
    width: 182px;
    height: 122px;
    top: 345px;
    right: 160px;
    transform: rotate(30deg);
    z-index: -100;
}

.bbg5{
    position: absolute;
    width: 96px;
    height: 96px;
    top: 600px;
    right: 570px;
    z-index: -100;
}

/* --- */
/* sponsorship line */

.sponsorship{
    width: 100vw;
    min-height: 20rem;
}

.sponsorship .container{
    background: var(--color-primary);
    min-height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    transform: rotate(3deg);
}

.sponsorship .container::before{
    content: " ";
    position: absolute;
    background: var(--color-primary);
    height: 14rem;
    width: 100%;
    transform: rotate(-3deg);
    z-index: -10000;
}

.sponsorship .container::after{
    content: " ";
    position: absolute;
    background: var(--color-primary);
    height: 14rem;
    width: 100%;
    z-index: -100;
    box-shadow: 0px 0px 250px 225px rgba(0, 0, 0, 0.32);
}

.sponsorship .container a{
    height: 4rem;
}

/* --- */
/* companies */

.companies{
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies-container{
    display: flex;
    max-width: 109rem;
    justify-content: space-between;
    width: 100%;
    height: 439px;
    gap: 11.2rem;
}

/* - */
/* logo */

.companies-container .companies-logos{
    position: relative;
    min-width: 535px;
    height: 439px;
    display: flex;
}

.companies-container .companies-logos a{
    position: absolute;
}

.companies-container .companies-logos a:nth-child(1){
    top: 125px;
    left: 78px;
}

.companies-container .companies-logos a:nth-child(2){
    top: 293px;
    left: 266px;
}

.companies-container .companies-logos a:nth-child(3){
    top: 47px;
    left: 0;
}

.companies-container .companies-logos a:nth-child(4){
    top: 81px;
    left: 319px;
}

.companies-container .companies-logos a:nth-child(5){
    top: 0;
    left: 199px;
}

.companies-container .companies-logos a:nth-child(6){
    top: 223px;
    left: 456px;
}

.companies-container .companies-logos a:nth-child(7){
    top: 321px;
    left: 31px;
}

/* - */
/* information */

.companies-container .information{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2.5rem;
}

.companies-container .information h3{
    font-family: var(--font-family-lead);
    font-size: 4rem;
    color: var(--text-color-regular);
    text-transform: capitalize;
}

.companies-container .information h3 span{
    color: var(--color-purple);
    box-shadow: inset 0 0 0 0 var(--color-purple);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.companies-container .information p{
    font-family: var(--font-family-regular);
    font-size: var(--font-size-normal);
    color: var(--text-color-regular);
}

.companies-container .information button{
    padding: 1.5rem 5rem;
    background: var(--color-primary);
    border-radius: 0.5rem;
    color: var(--text-color-regular);
    font-family: var(--font-family-regular);
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-semiBold);
}

/* --- */
/* jobs grid */

.jobs-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

/* - */
/* text */

.jobs-grid .text-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.jobs-grid .text-grid h3{
    color: var(--text-color-regular);
    font-family: var(--font-family-lead);
    font-size: 4rem;
}

.jobs-grid .text-grid h3 span{
    color: var(--color-purple);
    box-shadow: inset 0 0 0 0 var(--color-purple);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.jobs-grid .text-grid p{
    font-family: var(--font-family-regular);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-regular);
    text-transform: capitalize;
}

/* - */
/* nav */

.jobs-grid nav ul{
    display: flex;
    min-width: 72rem;
    justify-content: space-between;
}

.jobs-grid nav ul li a{
    font-family: var(--font-family-lead-bold);
    font-size: var(--font-size-normal);
    color: var(--text-color-notSelected);
    position: relative;
}

.jobs-grid nav ul li a::after{
    content: "";
    background: var(--color-purple);
    position: absolute;
    width: 0%;
    height: 0.3rem;
    bottom: -1rem;
    left: 0;
    transition: 0.5s;
}

/* - */
/* grid */

.jobs-grid .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 109rem;
    width: 100%;
    gap: 2rem;
}

.jobs-grid .grid .grid-item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 23.5rem;
    background: var(--color-gray);
    position: relative;
    overflow: hidden;
    padding: 2.2rem;
    gap: 2.2rem;
    cursor: pointer;
    transition: 1s;
}

/* - */
/* tags */

.jobs-grid .grid .grid-item .bg{
    position: absolute;
    inset: 87px 0 0 163px;
    z-index: 0;
}

.jobs-grid .grid .grid-item .tags{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.jobs-grid .grid .grid-item .tags .tag{
    border: 0.09rem solid var(--color-white);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border-radius: 0.5rem;
    color: var(--text-color-regular);
    font-family: var(--font-family-lead-regular);
    font-size: 1.4rem;
    user-select: none;
}

/* - */
/* text */

.jobs-grid .grid .grid-item .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .7rem;
}

.jobs-grid .grid .grid-item .text h5{
    font-family: var(--font-family-lead-bold);
    font-size: 2.2rem;
    color: var(--text-color-regular);
}

.jobs-grid .grid .grid-item .text p{
    font-family: var(--font-family-lead-regular);
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--text-color-regular);
}

/* - */
/* applies */

.jobs-grid .grid .grid-item .apply{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.jobs-grid .grid .grid-item .apply button{
    padding: 1.4rem 2.7rem;
    background: var(--color-primary);
    border-radius: .5rem;
    color: var(--text-color-regular);
    font-family: var(--font-family-lead-bold);
    font-size: 1.4rem;
}

.jobs-grid .grid .grid-item .apply .applies{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.jobs-grid .grid .grid-item .apply .applies img{
    --size: 2.2rem;

    width: var(--size);
    height: var(--size);
}

.jobs-grid .grid .grid-item .apply .applies p{
    font-family: var(--font-family-lead-bold);
    font-size: 1.4rem;
    color: var(--text-color-regular);
}

/* categories */

/* - */
/* text */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
}

main .text-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

main .text-categories h3{
    color: var(--text-color-regular);
    font-family: var(--font-family-lead);
    font-size: 4rem;
    text-transform: capitalize;
}

main .text-categories h3 span{
    color: var(--color-purple);
    box-shadow: inset 0 0 0 0 var(--color-purple);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

main .text-categories p{
    font-family: var(--font-family-regular);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-regular);
    text-transform: capitalize;
}

/* - */
/* list */

main .categories{
    display: grid;
    grid-template-columns: .9fr 1.25fr;
    gap: 2rem;

    max-width: 109rem;
    width: 100%;
}

main .categories :is(.popular, .item){
    background: var(--background-color-items);
}

/* - */
/* popular */

main .categories .popular{
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 3.2rem;
    
}

main .categories .popular h6{
    font-family: var(--font-family-lead);
    font-size: 2.2rem;
    color: var(--text-color-regular);
}

main .categories .popular .list{
    display: flex;
    flex-direction: column; 
    gap: 1rem;
}

main .categories .popular .list .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .categories .popular .list .item h5{
    font-family: var(--font-family-lead-regular);
    color: var(--text-color-regular);
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-regular);
}

main .categories .popular .list .item .quantity{
    --size: 3.8rem;

    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-lead-medium);
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-medium);
    color: var(--color-gray);
}

main .categories .popular .list .item:nth-of-type(odd) .quantity{
    background: var(--color-primary);
}

main .categories .popular .list .item:nth-of-type(even) .quantity{
    background: var(--color-white);
}

main .categories .popular .list hr{
    width: 100%;
}

main .categories .popular .list hr:nth-of-type(even){
    border: 0.01rem solid var(--color-purple);
}

main .categories .popular .list hr:nth-of-type(odd){
    border: 0.01rem solid var(--color-white);
}

/* - */
/* display */

main .categories .display-categories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 12.8rem);
    gap: 2rem;
}

main .categories .display-categories .item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5rem;
    gap: 2.5rem;
    height: 12.8rem;
    cursor: pointer;
    transition: 1s;
}

main .categories .display-categories .item picture{
    --size: 6rem;

    min-width: var(--size);
    min-height: var(--size);
    border-radius: 100%;
    background: linear-gradient(180deg, rgba(206,159,252,0.1) 0%, rgba(165,130,247,0.1) 50%, rgba(115,103,240,0.1) 100%);;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .categories .display-categories .item picture img{
    --size: 2.5rem;

    min-width: var(--size);
    min-height: var(--size);
}

main .categories .display-categories .item p{
    font-family: var(--font-family-lead-regular);
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-regular);
    word-break: break-word;
    line-height: 2.6rem;
    padding: 0 1rem;
}

/* - */
/* button */

main .categories button{
    grid-column: 2;

    width: 20rem;
    height: 6rem;
    background: var(--color-primary);
    border-radius: 0.5rem;
    color: var(--text-color-regular);
    font-family: var(--font-family-lead-bold);
    font-size: var(--font-size-normal);
    text-transform: capitalize;
    margin: auto 0 0 0;
}

/* --- */
/* sponsorship companies */

.sponsorship-companies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    min-width: 109rem;
    width: 100%;
}

/* - */
/* text */

.sponsorship-companies h2{
    font-family: var(--font-family-lead);
    font-size: 4rem;
    color: var(--text-color-regular);
    text-transform: capitalize;
}

.sponsorship-companies h2 span{
    color: var(--color-purple);
    box-shadow: inset 0 0 0 0 var(--color-purple);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* - */
/* companies */

.sponsorship-companies .companies{
    display: flex;
    gap: 10rem;
    width: 100%;
}

.sponsorship-companies .companies .company{
    display: flex;
    height: 4rem;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-color-regular);
    font-family: var(--font-family-lead-medium);
    font-size: 2.8rem;
    cursor: pointer;
}


/* --- */
/* information */

.information{
    max-width: 109rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15.8rem;
}

.information .alerts{
    max-width: 44.7rem;
    width: 100%;
    background: var(--color-gray);
    padding: 4.7rem 4.7rem 2rem 4.7rem;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    border-radius: 6.3rem;
}

.information .header{
    background: var(--color-primary);
    max-width: 35.4rem;
    width: 100%;
    height: 5.5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
}

.information .menu{
    width: 1.2rem;
    height: .2rem;
    background: var(--color-gray);
    position: relative;
}


.information .menu::after{
    content: "";
    position: absolute;
    width: 1.2rem;
    height: .2rem;
    background: var(--color-gray);
    top: 5px;
}

.information .menu::before{
    content: "";
    position: absolute;
    width: 1.2rem;
    height: .2rem;
    background: var(--color-gray);
    top: -5px;
}

.information .photo{
    --size: 2.9rem;

    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    background: var(--color-gray);
}

/* - */
/* job */

.information .job{
    display: flex;
    height: 8.3rem;
    gap: 2rem;
}

.information :is(.job:last-child) .line:first-child{
    margin: 0 2rem 0 0;
}

.information .first-check{
    display: flex;
    align-items: center;
}

.information .second-check{
    display: flex;
    align-items: center;
    position: relative;
}

.information .second-check .line{
    position: absolute;
    bottom: 10px;
    left: 0;
}

.information .job:nth-child(2) .second-check .line{
    position: absolute;
    bottom: 10px;
    left: 0;
    background: var(--color-primary);
}

.information .second-check label{
    display: flex;
    flex-direction: column;
}

.information .second-check label::before{
    margin: auto 0;
}

.information .line{
    width: 14.6rem;
    height: 1rem;
    background: var(--color-white);
    border-radius: 6.2rem;
}

.information .job label{
    display: flex;
    align-items: center;
}

.information .job label h6{
    margin: 0 4.4rem 0 0;
}

.information h6{
    font-family: var(--font-family-lead-medium);
    font-weight: var(--font-weight-regular);
    font-size: 1.7rem;
    color: var(--text-color-regular);
}

.information p{
    font-family: var(--font-family-lead-medium);
    font-weight: var(--font-weight-regular);
    font-size: 1.6rem;
    color: var(--text-color-regular);
}


.information :is(.job:first-child, .job:nth-child(4)){
    transform: translateX(-70px);
    background: var(--background-color);
    width: 47.3rem;
}

/* - */
/* checkbox */

.information input{
    display: none;
}

.information label{
    user-select: none;
    cursor: pointer;
}

.information input + label::before{
    --size: 2.6rem;

    content: "";
    margin: 0 2.4rem 0 0;
    width: var(--size);
    height: var(--size);
    border-radius: 0.62rem;
    background: #1D1D1D;
    border: 0.2rem solid #1D1D1D;
    display: inline-block;
}

.information input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54993 5.5132L4.44629 7.9958L10.239 1.78931' stroke='%23FFFEFF' stroke-width='1.86195' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-purple);
    border: 0;
}

/* - */
/* latest information */

.information .latest-information{
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.information .latest-information .text{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.information .latest-information .text h3{
    font-family: var(--font-family-lead);
    font-size: 4rem;
    text-transform: capitalize;
    color: var(--text-color-regular);
    line-height: 50px;
}

.information .latest-information .text h3 span{
    color: var(--color-purple);
    box-shadow: inset 0 0 0 0 var(--color-purple);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.information .latest-information .text p{
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-normal);
    color: var(--text-color-regular);
    line-height: 30px;
}

.information .button-inside-input{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    max-width: 46.1rem;
    width: 100%;
    height: 7.8rem;
    background: #1D1D1D;
    border-radius: 0.5rem;
}

.information .button-inside-input input{
    display: block;
    flex-grow: 1;
    background: transparent;
    border: 0;
    padding: 2.8rem 2.4rem;
    font-size: var(--font-size-normal);
    font-family: var(--font-family-lead-medium);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-regular);
}

.information .button-inside-input button{
    min-width: 13.5rem;
    height: 60px;
    background: var(--color-primary);
    border-radius: 0.5rem;
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-semiBold);
    font-size: var(--font-size-lead);
    color: var(--text-color-regular);
}

/* --- */
/* post */

.post{
    max-width: 109rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.post .post-area{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.post .text{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    max-width: 53.5rem;
    width: 100%;
}

.post .text h3{
    font-family: var(--font-family-lead);
    font-size: 4rem;
    text-transform: capitalize;
    color: var(--text-color-regular);
    line-height: 50px;
}

.post .text span{
    color: var(--color-purple);
    box-shadow: inset 0 0 0 0 var(--color-purple);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.post .text p{
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-normal);
    color: var(--text-color-regular);
    line-height: 30px;
}

.post button{
    max-width: 20rem;
    height: 60px;
    background: var(--color-primary);
    border-radius: 0.5rem;
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-semiBold);
    font-size: var(--font-size-lead);
    color: var(--text-color-regular);
}

/* - */
/* work circle */

.post .workers-circle{
    --size: 53.536rem;

    width: var(--size);
    height: var(--size);
}

.post .circle{
    border-radius: 100%;
    border: 0.167rem var(--color-purple) dashed;
}

.post .outside{
    --size: 47.4rem;

    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.post .inside{
    --size: 18.8rem;

    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.post picture{
    position: absolute;
}

/* - */
/* outside */

.post .outside > picture:nth-of-type(1){
    top: -30px;
}

.post .outside > picture:nth-of-type(2){
    bottom: 20px;
    right: 60px;
}

.post .outside > picture:nth-of-type(3){
    bottom: 20px;
    left: 60px;
}

.post .outside > picture:nth-of-type(4){
    top: 110px;
    left: -10px;
}

.post .outside > picture:nth-of-type(5){
    top: 110px;
    right: -10px;
}

/* - */
/* inside */

.post .inside picture:nth-child(2){
    top: -42px;
}

.post .inside picture:nth-child(3){
    bottom: 12px;
    left: -30px;
}

.post .inside picture:nth-child(4){
    bottom: 12px;
    right: -25px;
}

.post .inside picture:nth-child(5){
    right: -42px;
}

/* --- */
/* footer */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 109rem;
    width: 100%;
}

footer .information{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

footer .logo{
    width: 22rem;
    height: 5rem;
}

footer .logo img{
    width: 17rem;
    height: 5rem;
}

footer .social-media{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

footer .social-media h6{
    font-family: var(--font-family-lead);
    font-size: var(--font-size-normal);
    color: var(--text-color-regular);
}


footer .media{
    display: flex;
    justify-content: space-evenly;
}

footer .media picture{
    --size: 3.3rem;

    width: var(--size);
    height: var(--size);
    border: 0.05rem solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;    
    cursor: pointer;
}

footer svg{
    fill: white;
}

footer .mail-us{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .mail-us :is(h6,p){
    font-family: var(--font-family-lead-bold);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-normal);
    color: var(--text-color-regular);
    text-align: end;
}

footer hr{
    width: 100%;
    margin: 4rem 0 2rem 0;
    border: 0.01rem solid #E4D8D8;
    opacity: 0.2;
}

footer > p{
    font-family: var(--font-family-lead-bold);
    font-size: var(--font-size-normal);
    color: var(--text-color-regular);
    margin: 0 0 4rem 0;
}