:root{
    font-size: 62.5%;

    --color-black: #000;
    --color-white: #FFF;

    --text-color-regular: var(--color-white);

    --color-primary: linear-gradient(180deg, #CE9FFC 0%, #A582F7 50%, #7367F0 100%);

    
    --font-family-primary: 'Plus Jakarta Sans', sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semiBold: 600;

    --font-size-normal: 1.8rem;
    --font-size-lead: 1.6rem;
}

body{
    background: black;
    max-width: 144rem;
    width: 100%;
    min-height: 100vh;
    margin: auto;
}

/* header */

header{
    display: flex;
    align-items: center;
    max-width: 120rem;
    width: 100%;
    margin: 8rem 12.3rem 0;
    font-family: var(--font-family-primary);
}

/* - */
/* logo */

.logo,
.logo img{
    width: 11.7rem;
    height: 3.4rem;
}

/* - */
/* nav */

nav ul{
    display: flex;
    gap: 3rem;
}

nav ul li a{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-regular);
}

/* - */
/* sign up */

.sign-up{
    display: flex;
}

.sign-up button{
    padding: 1.5rem 6rem;
    border-radius: 0.5rem;
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-regular);
}

.sign-up button:first-child{
    background: var(--color-primary);
    font-weight: var(--font-weight-semiBold);
}