@import url(../style.css);

/* nav */

header nav ul li a:hover{
    color: var(--color-purple);
}

/* - */
/* sign up */

.sign-up button:hover{
    scale: 1.1;
    transition: 0.5s;
    filter: brightness(1.1);
}

/* - */
/* banner button */

.banner .buttons button:hover{
    scale: 1.1;
    transition: 0.5s;
    filter: brightness(1.1);
}

/* - */
/* sponsorship line */

.sponsorship .container a:hover svg{
    transition: 0.5s;
    transform: translate(12px, -20px);
}

/* - */
/* companies */

.companies-container .companies-logos a:hover{
    transition: 0.5s;
    transform: translate(1px, -20px);
}

.companies-container .information button:hover{
    scale: 1.1;
    transition: 0.5s;
    filter: brightness(1.1);
}

.companies-container .information h3 span:hover{
    box-shadow: inset 200px 0 0 0 var(--color-purple);
    color: var(--background-color);
}

/* --- */
/* jobs grid */

.jobs-grid .text-grid h3 span:hover{
    box-shadow: inset 200px 0 0 0 var(--color-purple);
    color: var(--background-color);
}

.jobs-grid nav ul li a:hover{
    color: var(--text-color-regular);
}

.jobs-grid nav ul li a:hover::after{
    width: 100%;
}

.jobs-grid .grid .grid-item:hover{
    transform: translateY(-15px);
    transition: 1s;
}

.jobs-grid .grid .grid-item .tags .tag:hover{
    scale: 1.1;
    transition: 0.5s;
    filter: brightness(1.1);
}

.jobs-grid .grid .grid-item .apply button:hover{
    scale: 1.1;
    transition: 0.5s;
    filter: brightness(1.1);
}

/* --- */
/* categories */

main .text-categories h3 span:hover{
    box-shadow: inset 200px 0 0 0 var(--color-purple);
    color: var(--background-color);
}

main .categories .display-categories .item:hover{
    transform: translateY(-10px);
    transition: 1s;
    background: var(--color-primary);
}

main .categories .display-categories .item:hover picture{
    background: var(--color-white);
    transition: 1s;
}

main .categories .display-categories .item:hover picture img{
    filter: brightness(0);
    transition: 1s;
}

main .categories button:hover{
    scale: 1.1;
    transition: 0.5s;
    filter: brightness(1.1);
}

/* --- */
/* sponsorship companies */

.sponsorship-companies h2 span:hover{
    box-shadow: inset 200px 0 0 0 var(--color-purple);
    color: var(--background-color);
}

.sponsorship-companies .companies .company:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

/* --- */
/* information */

.information .latest-information .text h3 span:hover{
    box-shadow: inset 200px 0 0 0 var(--color-purple);
    color: var(--background-color);
}

.information .button-inside-input button:hover{
    scale: 1.1;
    transition: 0.5s;
    filter: brightness(1.1);
}