@import url(../style.css);

/* sandwich menu */

#mobile-menu{
    display: none;
    width: 3rem;
    height: 3rem;
}

.sign-up button:first-child svg{
    display: none;
}

.sign-up button:last-child span{
    display: none;
}

@media (max-width : 1100px){
    #mobile-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 102;
    }

    #mobile-menu span{
        background: white;
        width: 3rem;
        height: 0.1rem;
        position: relative;
        z-index: 101;
    } 
    
    #mobile-menu span::after{
        content: " ";
        position: absolute;
        top: -10px;
        width: inherit;
        height: inherit;
        background: inherit;
    }
    
    #mobile-menu span::before{
        content: " ";
        position: absolute;
        top: 10px;
        width: inherit;
        height: inherit;
        background: inherit;
    }

    .landing-page ul{
        display: none;
    }

    .landing-page header{
        justify-content: space-between;
    }

    .landing-page header nav{
        order: 2;
    }

    .landing-page header .sign-up{
        margin: 0;
    }

    .landing-page ul.active{
        display: flex;
        width: 30vw;
        flex-direction: column;
        background: var(--background-color);
        padding: 10rem 0 0 5rem;
        position: absolute;
        z-index: 90;
        right: 0;
        top: 0 ;
        transition: .5s;
    }

    .sponsorship,
    .sponsorship .container,
    .sponsorship .container::before,
    .sponsorship .container::after{
        min-height: 20rem;
        /* display: none; */
    }

    .sponsorship .container{
        flex-wrap: wrap;
    }

    .sponsorship .container a{
        padding: 2rem 0 0 0;
    }

    .sponsorship .container a:last-child{
        padding: 0 0 3rem 0;
    }

    .companies-container{
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        min-height: 735px;
    }

    .companies-container .information{
        align-items: center !important;
    }

    .jobs-grid .grid{
        grid-template-columns: repeat(2, 350px) !important;
        align-items: center;
        justify-content: center;
    }

    main .categories{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    main .categories .popular{
        max-width: 78rem;
        width: 100%;
    }

    .sponsorship-companies{
        width: 90% !important;
    }

    .sponsorship-companies .companies{
        flex-wrap: wrap;
    }

    .information{
        flex-wrap: wrap;
        justify-content: center;
    }

    .information .latest-information,
    .information .latest-information .text{
        align-items: center;
    }

    .post{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10rem !important;
        align-items: center;
    }

    .post-area,
    .post .text,
    .post .text h3{
        align-items: center;
        text-align: center;
    }

    .post button{
        max-width: 20rem;
        width: 100%;
    }

    .post .workers-circle{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    footer{
        width: 90% !important;
    }

    footer .information{
        flex-wrap: nowrap;
    }
}


@media (max-width : 800px){

    /* :root{
        font-size: 60%;
    } */

    .sign-up button:first-child{
        padding: 1rem 2.5rem;
    }
    .sign-up button:first-child svg{
        display: flex;
    }

    .sign-up button:first-child p{
        display: none;
    }

    .sign-up button:last-child{
        padding: 1rem 2rem;
    }

    .sign-up button:last-child span{
        display: flex;
    }

    .sign-up button:last-child p{
        display: none;
    }

    .landing-page ul.active{
        width: 50vw;
    }

    main .categories{
        width: 80% !important;
    }

    .jobs-grid .grid{
        grid-template-columns: 350px !important;
    }

    .jobs-grid nav ul{
        display: flex;
        min-width: auto !important;
        justify-content: space-between;
    }

    footer > .information{
        flex-direction: column;
        justify-content: center!important;
        align-items: center !important;
        gap: 2rem !important;
    }

    footer > .information .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .mail-us :is(h6,p){
        text-align: center !important;
    }
}

@media (max-width : 750px){

    main .categories .display-categories{
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 2rem;
        width: 100% !important;
    }

    main .categories .display-categories .item{
        width: inherit !important;

        align-items: center;
        justify-content: flex-start !important;
        margin: 0 auto;
    }

    .companies-container .information{
        align-items: center !important;
        width: 80%;
        text-align: center;
    }

    .information .latest-information .text{
        width: 80%;
        text-align: center;
    }

    .jobs-grid .text-grid{
        text-align: center;
    }
}

@media (max-width : 600px){
    :root{
        font-size: 55.5% !important;
    }

    .companies-container .companies-logos{
        scale: .8;
    }

    .post .workers-circle{
        scale: .9;
    }

    .sponsorship,
    .sponsorship .container,
    .sponsorship .container::before,
    .sponsorship .container::after{
        min-height: 30rem;
        /* display: none; */
    }

    .jobs-grid nav ul{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

@media (max-width : 470px){
    :root{
        font-size: 50.5% !important;
    }

    .companies-container .companies-logos{
        scale: .7;
        width: 60% !important;
    }
}